*{
    font-family:  "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;;
}
body{
    margin: 0;
    width: 100%;
    color: #23272a;
}
.section1,.section2,.section3,.section4,.section5,.section6,.section7{
    width: 100%;
}
.section1{
    height: 626px;
    background-color: black;
    background-image: url(images/discord\ home.png);
    background-size: cover;
    color: white;
}
.main,.header,.home2,.home3,.home5,.home6{
    margin: auto;
    width: 1260px;
}
.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .main h1{
    font-weight: bolder;
}
.subhead{
    display: flex;
}
.subdiv1{
    margin-right: 50px;
}
.subdiv1 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.subdiv1 a:hover{
    text-decoration: underline;
}
.login button{
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px 10px  15px ;
}
/*---------------------------------------------home---------------------------------*/
.main{
    height: 500px;
    text-align: center;
    
}
.main h1{
    padding-top: 70px;
    font-size: 56px;
    font-weight: 900;
    letter-spacing: -0.5px;
    margin-bottom: 0;
}
.main p{
    padding-top: 0px;
    margin-left: 210px;
    margin-right: 210px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 100;
}
.btns1 button{
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 25px;
}
.btn1::before{
    content: url(images/image\ \(2\).png);
    padding-right: 10px;
}
.btn1{
    background-color: white;
    color: black;
}
.btn2{
    margin-left: 15px;
    background-color: #23272a;
    color: white;
}
/*---------------------------------------------home2---------------------------------*/
.home2{
    justify-content: center;
    height: 670px;
    display: grid;
    grid-template-columns: 678px 420px;
    grid-template-rows: 440px;
    gap: 60px;
}
.home2 img{
    margin-top: 100px;
}
.sec h2{
    font-size: 35px;
    font-weight:900;
    line-height: 45px;
}
.sec p{
    font-size: 20px;
    font-weight: 100;
    line-height: 32px;
}
.home2 .sec{
    margin-top: 120px;
    margin-left: 60px;
}
/*---------------------------------------------home3---------------------------------*/
.section3{
    height: 680px;
    background-color: #f6f6f6;
    
}
.home3{
    height: 680px;
    display: grid;
    grid-template-columns: 380px 678px;
    grid-template-rows: 440px;
    gap: 60px;
    justify-content: center;
}
.sec1 h2{
    font-size: 35px;
    font-weight:900;
    line-height: 45px;
}
.sec1 p{
    font-size: 20px;
    font-weight: 100;
    line-height: 32px;
}
.home3 .sec1{
    margin-top: 150px;
}
.home3 img{
    margin-top: 150px;
}
/*---------------------------------------------home4---------------------------------*/
.home2{
    justify-content: center;
    height: 670px;
    display: grid;
    grid-template-columns: 678px 420px;
    grid-template-rows: 440px;
    gap: 60px;
}
.home2 img{
    margin-top: 100px;
}
.sec h2{
    font-size: 35px;
    font-weight:900;
    line-height: 45px;
}
.sec p{
    font-size: 20px;
    font-weight: 100;
    line-height: 32px;
}
.home2 .sec{
    margin-top: 120px;
    margin-left: 60px;
}
/*---------------------------------------------home5---------------------------------*/
.section5{
    background-color: #f6f6f6;
    height: 1058px;
}
.section5 .sec1{
    text-align: center;
    margin-left: 185px;
    margin-right: 185px;
}
.section5 .sec1 h2{
    padding-top: 100px;
    font-size: 40px;
}
.section5 .sec1 p{
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 32px;
}
.sub2 img{
    margin-left: 90px;
    height: 715px;
    width: 1180px;
}
/*---------------------------------------------home5---------------------------------*/
.section6{
    height: 284px;
    background-color: #f6f6f6;
}
.home6{
    height: 164px;
    text-align: center;
}
.home6 div{
    margin: auto;
    width: fit-content;
}
.home6 h4{
    font-size: 32px;
    margin-top: -20px;
}
.home6 button{
    color: white;
    background-color: #5865f2;
    padding: 16px 32px 16px 32px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
}
/*---------------------------------------------home6---------------------------------*/
.section7{
    background-color: #23272a;
    color: white;
}
.footer{
    padding: 80px 90px 80px 90px;
    display: grid;
    grid-template-columns: 1260px;
    grid-template-rows: 396px 71px;
    justify-content: center;
}
.rows1{
    display: grid;
    grid-template-columns: 280px 80px 180px 180px 180px 180px;
    grid-template-rows: 390px;
    grid-gap: 10px;
    justify-content: center;
}
.lang{
    margin-top: 30px;
    align-items: center;
    font-size: 14px;
}
.social{
    margin-top: 40px;
}
.social a{
    padding-right: 15px;
}
.col{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.col a{
    text-decoration: none;
    color: white;
    padding-top: 12px;
}
.col p{
    color: blue;
    padding-bottom: 0;
}
.rows2{
    border-top: 1px solid #5865f2;
    display: flex;
    justify-content: space-between;
    place-items: center;
}
.rows2 button{
    margin-top: 30px;
    background-color: #5865f2;
    padding: 7px 16px 7px 16px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 12px;
}
.rows2 img{
    margin-top: 15px;
}